img{
height:100px;
width:638px;
position: absolute;
left:0px;
top:0px;
}

p1 a{
position: absolute;
top:170px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
p2 a{
position: absolute;
top:220px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
p3 a{
position: absolute;
top:270px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
p4 a{
position: absolute;
top:320px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
p5 a{
position: absolute;
top:370px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
p6 a{
position: absolute;
top:120px;
left:40px;
font-size:40px;
text-decoration:none;
color:#000;
}
body{
 background-color:#00ccff;
}